body {
    background-color: black;
    font-family: 'Merriweather', Sans-serif;
}

#container {
    background-color: red;
}

#aboutme {
     background: url("../img/marichkagiy_wheel.jpg"); 
     background-repeat: no-repeat;
     background-size: cover;
     font-family: 'Merriweather', Sans-serif;
     font-size: 20px;
     margin: 0px 85px 0px 85px;
     padding-top: 0px;
     padding-bottom: 300px;
     padding-left: 0px;
     color: white;
}

#programs {
    margin: 0px 85px 0px 85px;
}

#blog {
    margin: 0px 85px 0px 85px;
}

#contactblock {
    margin: 0px 85px 0px 85px;
}

#name {
    color: #f00;
    border: 1px solid #f00;
    margin-left: 50px;
}

#email {
    color: #f00;
    border: 1px solid #f00;
    margin-left: 34px;
}

#feedback {
    color: #f00;
    border: 1px solid #f00;
    margin-left: 15px;
    width: 54%;
}